#budget_items {
  float: left;
}
.edit_budget {
  float: left;
  margin-top: 20px;
}
#budget_headers {
  background-color: #eee;
  float: left;
  padding: 10px 0;
}
#budget_headers #description_header strong {
  padding-left: 10px;
}
#budget_headers #estimated_cost_header, #budget_headers #actual_cost_header {
  text-align: right;
}
.budget_item {
  overflow: hidden;
}
.budget_item input {
  border: 1px solid #fff;
  background-color: #fff;
}
.budget_item input:focus {
  border: 1px solid #ccc;
  background-color: #fff;
}
.budget_item .description input {
  width: 260px;
  margin-left: 10px;
}
.estimated_cost, .actual_cost {
  color: #888;
}
.estimated_cost, .actual_cost,
#estimated_total, #actual_total {
  line-height: 34px;
  text-align: right;
}
.budget_item .estimated_cost input,
.budget_item .actual_cost input,
#estimated_total input,
#actual_total input {
  width: 45px;
  text-align: right;
}
#estimated_total strong,
#actual_total strong {
  text-align: right;
  line-height: 34px;
}
.budget_item:hover {
  background-color: #f7f7f7;
}
.budget_item:hover input {
  border: 1px solid #ccc;
  background-color: #fff;
}
.budget_item {
  border-bottom: 1px dotted #ccc;
  padding: 5px 0;
}
.budget_item .estimated_cost label,
.budget_item .actual_cost label {
  visibility: hidden;
  color: #888;
  text-align: right;
  line-height: 34px;
}
.budget_item:hover .estimated_cost label,
.budget_item:hover .actual_cost label {
  visibility: visible;
}
.budget_item .actions {
  visibility: hidden;
  height: 25px;
  line-height: 25px;
}
.budget_item .actions img {
  vertical-align: middle;
}
.budget_item:hover .actions {
  visibility: visible;
}
.budget_item .actions a:link, .budget_item .actions a:visited {
  text-decoration: none;
  margin-right: 10px;
}
.budget_item:hover .actions .handle {
 cursor: ns-resize; 
}
#budget_live_totals {
  float: left;
  background-color: #888;
  color: #fff;
  margin: -1px 0 10px 0;
}
#budget_live_totals input {
  border: 1px solid transparent;
  cursor: default; 
  color: #fff;
  background-color: transparent;
}
.form_actions {
  float: right;
}