$pink: #ec2d91;
$light-grey-text: #888;
$default-padding: 10px;
$large-padding: 20px;

header {
	padding: $default-padding 0;
	margin-bottom: $large-padding;
	border-bottom: 2px solid $pink;
	position: relative;
}
header #toplinks {
  position: absolute;
  bottom: 5px;
  right: -5px;
}

#content {
  margin: 10px 0;
}

footer {
  margin: 40px 0;
  border-top: 1px solid #ccc;
  padding: $default-padding 0;
  text-align: center;
  font-size: 10px;
  color: $light-grey-text;
  clear: both;
}

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #444;
	margin: 0;
}
a:link, a:visited {
  color: #322598;
}

h1 {
  font-size: 25px;
  color: #ec2d91;
  margin: 0 0 20px 0;
}

.actions {
  text-align: center;
}

.field_with_errors {
  display: inline;
  color: red;
}
.field_with_errors input.text {
  border-color: red;
}

.company {
  color: #888;
  font-size: 10px;
}
/*  Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }