<div id="appmenu" class="sidemenu">
  <p><strong>My Wedding Planner</strong></p>
  <ul>
    <li><a href="#">Dashboard</a></li>
    <li><a href="<%= budget_path %>">Budget planner</a></li>
    <li><a href="#">Guest list &amp; table planner</a>
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Guest list</a></li>
          <li><a href="#">Table planner</a></li>
        </ul>
    </li>
    <li><a href="#">Todo list</a></li>
  </ul>
</div>
