<div id="homepage">
	<h1>My Confetti</h1>
	<p>We have the following wedding planning tools available:</p>
	<ul>
		<li><%= link_to "Wedding Budget Planner", budget_path %></li>
	</ul>
	<p><%= link_to "Sign in", log_in_path, :class => "button" %> <%= link_to "Register", sign_up_path, :class => "button" %>
</div>
